/* http://www.w3schools.com/css/css_table.asp */

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;

  margin-top: 15px
}

th, td {
  border-bottom: 1px solid #ddd;
}


th, td {
  padding: 10px;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:hover {
  background-color: #f5f5f5;
}

.date {
  width: 20%;
}

.title {
  width: 60%;
}

.author {
  width: 20%;
}

table.no-items th {
  display: none;
}
