.Dropdown-root {
  position: relative;
  margin-left: $margin;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: $border-grey;
  border-radius: $border-radius;
  color: #555;
  cursor: default;
  outline: none;
  transition: all 200ms ease;
  padding: $padding-v 40px $padding-v $padding-h;
  width: 100px;

  &:hover,
  &:focus {
    outline: none;
    border-color: $blue;
    box-shadow: $shadow-blue;
  }
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 3px;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: $border-grey;
  box-shadow: $shadow-blue;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  border-radius: $border-radius;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: $padding-v $padding-h;
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: 0;
  }
}

.Dropdown-option:hover,
.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #555;
}
