.Dropdown-root {
  position: relative;
  margin-left: 5px;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 3px;
  // box-sizing: border-box;
  color: #555;
  cursor: default;
  outline: none;
  transition: all 200ms ease;
  padding: 10px 50px 10px 10px;
  width: 100px;

  &:hover,
  &:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 3px;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #bbb;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  // margin-left: 5px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  border-radius: 2px;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #555;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #555;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #bbb;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
